<h2>Task Update Component</h2>
<div style="display: flex;">
    <label for="taskId">Task Id to Update:</label>
    <input type="text" id="taskId" name="taskId" [(ngModel)]="taskId" required />
    <button (click)="fetchData()">Fetch Data</button>
</div>
<form (ngSubmit)="onSubmit()" #taskForm="ngForm">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="task.name" required>
    </div>
    <div>
        <label for="dueDate">Due Date:</label>
        <input type="date" id="dueDate" name="dueDate" [(ngModel)]="task.due" required>
    </div>
    <div>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" [(ngModel)]="task.description" required>
    </div>
    <div>
        <label for="complete">Complete:</label>
        <input type="checkbox" id="complete" name="complete" [(ngModel)]="task.complete">
    </div>
    <button type="submit" [disabled]="!taskForm.form.valid">Update</button>
</form>
<br />