<!-- You do not need to change this file -->
<div>
  <table style="border: 1px solid; width:100%">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Due Date</th>
      <th>Description</th>
      <th>Complete</th>
    </tr>
    @for (task of tasks$ | async; track $index) {
    <tr>
      <td><strong>{{ task._id }}</strong></td>
      <td>{{ task.name }}</td>
      <td><strong>{{ task.due }}</strong></td>
      <td>{{ task.description }}</td>
      <td><strong>{{ task.complete }}</strong></td>
    </tr>
    }
  </table>
</div>